/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}
.clear {
	clear:both;
}
.header {
	margin-top:2%;
	width:100%;
	text-align:center;
}
.header h1 {
	font-family: 'Open Sans', sans-serif;
	line-height:25px;
	text-transform:uppercase;
	color:grey;
}
.content{
	width:60%;
	margin:3% auto 0 auto;
	height:460px;
	background-color:white;
}
.content1 {
	background-color:#ececec00;
	text-align:center;
	padding:2em;
}
.content1 h2 {
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	margin:0;
	color:#fff;
}
.content2 {
	background-color:#b5e6ae;
}
.content2-header1 {
	float:left;
	width:27%;
	text-align:center;
	padding:1.5em;
}
.content2-header1 p {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:700;
	color:#4E7D48;
	margin:0;
}
.content2-header1 span {
	font-size:14px;
	font-weight:400;
}
.shipment {
	width:100%;
	margin-top:10%;
}
span.line {
    height: 5px;
    width: 90px;
    background-color:red;
    display: block;
    position: absolute;
    top: 28%;
    left: 45%;
}

/*  hover iconos*/
body > main > div.container.marketing > div:nth-child(1) > div.content3.aa > div > div.confirm > div:hover{
	color: red;

}

/*  / hover iconos*/


/* LINEAS DE GUIA  */
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.confirm > span{
  top: 34%;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.process > span{
  top: 30%;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.quality > span{
	     top: 27%;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > span{
	top: 31%;
    width: 11%;
    left: 89%;
}

/*  SEGUNDA SECCION DE LINEAS DE GUIA*/
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.confirm > span{
	top: 27%;
}

body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > span{
	width: 11%;
left: 90%;
top: 27%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > span{
	width: 12%;
    left: 89%;
    top: 27%;
}

body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > span{
	width: 12%;
	left: 89%;
	top: 31%;
}
/* / SEGUNDA SECCION DE LINEAS DE GUIA*/

/* / LINEAS DE GUIA  */


/* COLOR TEXTO INSTRUCCTIVO */

body > main > div.container.marketing > div:nth-child(1) > div.content1 > h2,
body > main > div.container.marketing > div:nth-child(2) > div.content1 > h2{
	color: black;
	font-weight: bold;
}
/* COLOR TEXTO INSTRUCCTIVO */



/* POSICIONANDO ICONO DE UBICACION */
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.delivery > div > img{
	top: 24%;
    left: 17%;
}
/* / POSICIONANDO ICONO DE UBICACION */

span.line.co{

	top: 24%;
}

/*  ICONOS*/

body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.confirm > div > i,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.process > div > i,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.quality > div > i,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > div > i,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.delivery > div > i,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.confirm > div > i,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > div > i,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > div > i,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > div > i,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.delivery > div > i
 {
     font-size: 3vw;
			    margin-top: 26%;
					color: #ff000087;

}
/* /  ICONOS*/
.confirm{
	text-align:center;
	width:20%;
	position:relative;
	float:left;
	margin-left:5%;
}
.confirm .imgcircle , .process .imgcircle, .quality .imgcircle {

box-shadow: 0px 3px 5px grey;
	border: .9px solid red;
}
.confirm .imgcircle , .process .imgcircle, .quality .imgcircle:hover {

box-shadow: 0px 3px 5px grey;
	border: .9px solid red;
}
.confirm span.line, .process span.line {
	background-color:red;
}
.content3 p {
	margin-left:-50%;
	font-size:15px;
	font-weight:600;
}
.imgcircle {
	height: 100px;
	    width: 100px;
	border-radius:50%;

    box-shadow: 0px 3px 5px grey;
	position:relative;
	border: .9px solid red;
}
body > div > div.content3 > div > div.delivery > div > img{
	height: 30px;
    position: absolute;
    top: 21%;
    left: 22%;
}
.imgcircle img {
	height:30px;
	position:absolute;
	top: 28%;
	left: 30%;
}
.process{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.quality {
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.dispatch{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.delivery{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
	margin-right:-9%;
}
.footer a, a:active {
	color:grey;
	text-decoration:none;
	font-family: 'Tahoma', sans-serif;
}
.footer a:hover {
	color:#00c4ff;
	text-decoration:none;
	transition:all 0.5s ease-in-out;
}
.footer {
	margin-top:3%;
	text-align:center;
	font-weight:100;
}
.footer p {
	color:grey;
	font-size:15px;
	font-family: 'Tahoma', sans-serif;
	line-height:25px;
}

/*---- responsive-design -----*/
@media(max-width:1920px){
	span.line {
	width:157px;
	left:32%;
	}
	.shipment{
		margin-top:6%;
	}
.content3 p{
margin-left:-65%;
}
}

@media(max-width:1680px){
	.content3 p {
    margin-left: -60%;
}
span.line {
    width: 127px;
    left: 37%;
}
}

@media(max-width:1600px){
span.line {
    width: 117px;
    left: 39%;
}
}

@media(max-width:1440px){
.content3 p {
    margin-left: -21%;
}
span.line {
    width: 99px;
    left: 43%;
}
}

@media (max-width: 1366px){
span.line {
    width: 26%;
    height: 1px;
    left: 74%;
}
span.line.co{
	left: 76%;
  width: 24%;
}

/* LINEAS SPAN */
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > span{
	top: 31%;
	width: 24%;
	left: 76%;
}

body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > span{
	width: 26%;
	left: 75%;
	top: 27%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > span {
	width: 25%;
    left: 75%;
    top: 27%;
}

body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > span{
	width: 26%;
	    left: 75%!IMPORTANT;
    top: 31%;
}
/* / LINEAS SPAN */

.shipment {
    margin-top: 10%;
}

body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.quality > span {
    top: 30%;
}
}

@media (max-width: 1280px){

/* SPAN LINES */
span.line {
	width: 26%;
	left: 74%;
	top:29%;
}
}
@media (max-width: 1199.98px){

	body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.confirm > div > i,
	 body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.process > div > i,
	 body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.quality > div > i,
	  body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > div > i,
		 body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.delivery > div > i,
		 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.confirm > div > i,
		 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > div > i,
		 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > div > i,
		 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > div > i,
		 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.delivery > div > i{
			 font-size: 4vw;
	 		    margin-top: 24%;
					color: #ff000087;
		 }
	span.line {
		width: 13%;
		left: 88%;
		top: 31%;
	}

	span.line.co {
		left: 88%;
		width: 13%;
		top: 27% !important;
	}
	body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > span {
		top: 31%;
		width: 24%;
		left: 76%;
	}
	body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > span {
    top: 31%;
    width: 13%;
    left: 88%;
}
/*/ SPAN LINES  TOP */


/* SPAN LINES  BOTTOM */
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > span {
	width: 12%;
left: 89%;
top: 27%;
}

body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > span {
    width: 12%;
    left: 89%;
    top: 27%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > span {
	width: 12%;
	left: 89%!IMPORTANT;
	top: 31%;
}

/*/ SPAN LINES  BOTTOM */

.content3 p {
      margin-left: -12%;
}
}
@media (max-width: 1080px){
.content {
width: 75%;
}


span.line {
    width: 29%;
    left: 71%;
}

span.line.co {
	left: 71%;
    width: 29%;
    top: 31% !important;
}

body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > span {
	top: 31%;
    width: 28%;
    left: 72%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > span {
	width: 28%;
    left: 72%;
    top: 27%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > span {
	width: 29%;
	left: 71%;
	top: 27%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > span {
	width: 29%;
	left: 71%!IMPORTANT;
	top: 31%;
}
}

@media (max-width: 1050px){
	.content3 p {
    margin-left: -22%;
}
	/* LINEAS SPAN */
	body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > span{
		top: 31%;
		width: 28%;
		left: 72%;
	}

	body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > span{
		width: 28%;
    left: 72%;
    top: 27%;
	}
	body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > span {
		width: 28%;
		left: 72%;
		top: 27%;
	}

	body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > span{
		width: 28%;
		left: 72%;
		top: 27%;
	}
}

@media (max-width: 1024px){
	.content{
		width:77%;
	}
	.content3 p {
		font-size:14px;
	}

	span.line.co{
		left: 76%;
	  width: 24%;
	}

	/* LINEAS SPAN */

	body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.confirm > span{
		width: 29%;
		left: 71%;
		top: 37%;
	}
	body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.process > span{
		top: 32%;
		width: 31%;
		left: 69%;
	}
	body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.quality > span{
		top: 32%;
		width: 31%;
		left: 69%;
	}
	body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > span{
		top: 31%;
		width: 32%;
		left: 69%;
	}

	body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > span{
		width: 31%;
		left: 69%;
		top: 27%;
	}
	body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > span {
		width: 29%;
		left: 70%;
	}

	body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > span{
		width: 32%;
		left: 69%!IMPORTANT;
		top: 31%;
	}
	/* LINEAS SPAN */

}

@media (max-width: 992px) and (min-width:902px){

	/* TOP SPAN */
	body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.confirm > span{
		width: 29%;
	    left: 72%;
	    top: 37%;
	}

	body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.process > span {
		top: 32%;
    width: 28%;
    left: 73%;
}

body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.quality > span {
	width: 27%;
left: 73%;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > span {
	top: 31%;
	    width: 28%;
	    left: 73%;
}

	/*/ TOP SPAN */


body > main > div.container.marketing > div:nth-child(1){
	width: 100%
}
body > main > div.container.marketing > div:nth-child(2){
	width: 100%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.confirm > span{
	width: 30%;
	    left: 72%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > span {
	width: 29%;
	    left: 71%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > span {
	width: 29%;
	    left: 72%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > span {
	width: 29%;
    left: 73%!IMPORTANT;
	}

}

@media (max-width: 900px){
.content {
    width: 85%;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.confirm > span{
	width: 14%;
left: 86%;
top: 37%;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.process > span{
	top: 32%;
	    width: 16%;
	    left: 85%;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.quality > span{
	top: 31% !important;
    width: 15%;
    left: 85%;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > span{
	top: 31%;
width: 15%;
left: 85%;
}

body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > span{
	width: 16%;
	left: 85%;
	top: 27%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > span {
	width: 14%;
    left: 86%;
}

body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > span{
	width: 15%;
	    left: 85%!IMPORTANT;

}
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.confirm > span {
	top: 27%;
width: 14%;
left: 86%;
}

}

@media (max-width:769px) and (min-width:576px) {

	body > main > div.container.marketing > div:nth-child(1){
		width: 100%
	}
	body > main > div.container.marketing > div:nth-child(2){
		 width: 100%;
	}

.imgcircle{
	width: 100%;
	margin-left: -27%;

}
/* borrando  */

body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.confirm > span,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.process > span,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.quality > span,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > span,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > span,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > span,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > span,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.confirm > span {
display: none;
}

/* borrando  */

body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.confirm > div > i,
 body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.process > div > i,
 body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.quality > div > i,
  body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > div > i,
	 body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.delivery > div > i,
	 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.confirm > div > i,
	 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > div > i,
	 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > div > i,
	 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > div > i,
	 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.delivery > div > i{
		 font-size: 8vw;
 		margin-top: 14%;
	 }
	 body > main > div.container.marketing > div:nth-child(1) > div.content3.aa,
	 body > main > div.container.marketing > div:nth-child(2) > div.content3.bb{
		 width: 638px;
margin-left: -13%;
	 }
	 .content3 p {
    margin-left: -54%;
}

}


@media (max-width: 768px){
.content2-header1 {
	width: 25%;
}
.content2-header1 p {
    margin: 0 -19% 0 -10%;
}
span.line {
    width: 72px;
    left: 51%;
}
}

@media (max-width:575.98px) {body > main > div.container.marketing > div:nth-child(1){
	width: 100%
}
body > main > div.container.marketing > div:nth-child(2){
	 width: 100%;
}

.imgcircle{
width: 100%;
margin-left: -27%;

}
/* borrando  */

body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.confirm > span,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.process > span,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.quality > span,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > span,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > span,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > span,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > span,
body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.confirm > span {
display: none;
}

/* borrando  */

body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.confirm > div > i,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.process > div > i,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.quality > div > i,
body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.dispatch > div > i,
 body > main > div.container.marketing > div:nth-child(1) > div.content3 > div > div.delivery > div > i,
 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.confirm > div > i,
 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.process > div > i,
 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.quality > div > i,
 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.dispatch > div > i,
 body > main > div.container.marketing > div:nth-child(2) > div.content3 > div > div.delivery > div > i{
	 font-size: 8vw;
	margin-top: 25%;
 }
 body > main > div.container.marketing > div:nth-child(1) > div.content3.aa,
 body > main > div.container.marketing > div:nth-child(2) > div.content3.bb{
	 width: 98vw;
     margin-left: 0%;
 }
 .content3 p {
	margin-left: -54%;
	    display: table-caption;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3.bb > div > div.dispatch > p{
	    width: 172%;
}

}








@media (max-width: 414px){

	/* ARREGLANDO ESPACIO DE CONTENIDO */
	.shipment {
    margin-left: 0;
}
/*  shipment a*/
body > main > div.container.marketing > div:nth-child(1) > div.content3.aa{
	width: 100%;
    margin-left: 0%;
}
/* / shipment a*/

/* items shipment a; */

body > main > div.container.marketing > div:nth-child(1) > div.content3.aa > div > div.confirm{
	margin-left: 0;
	margin-top: -10%;
}
/*/ items shipment a; */
body > main > div.container.marketing > div:nth-child(1) > div.content3.aa > div{
	margin-left: 0;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3.aa > div > div.process{
	margin-left: 0;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3.aa > div > div.quality{
		margin-left: 0;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3.aa > div > div.dispatch{
		margin-left: 0;
}
body > main > div.container.marketing > div:nth-child(1) > div.content3.aa > div > div.delivery{
		margin-left: 0;
}

/* Shipment b */
body > main > div.container.marketing > div:nth-child(2) > div.content3.bb{
	width: 100%;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3.bb > div{
	margin-left: 0;
}
/* / Shipment b */
body > main > div.container.marketing > div:nth-child(2) > div.content3.bb > div > div.confirm{
	margin-left: 0;
}

body > main > div.container.marketing > div:nth-child(2) > div.content3.bb > div > div.process{
	margin-left: 0;

}
body > main > div.container.marketing > div:nth-child(2) > div.content3.bb > div > div.quality{
	margin-left: 0;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3.bb > div > div.dispatch{
	margin-left: 0;
}
body > main > div.container.marketing > div:nth-child(2) > div.content3.bb > div > div.delivery{
	margin-left: 0;
}

body > main > div.container.marketing > hr:nth-child(3){
	margin: 10rem 0;
}


/* TEXTOS DE LOS SHIPMENTS */

.content3 p {
    margin: 0 !important;
    width: 88vw;
		font-size: 1px;
}

body > main > div.container.marketing > div:nth-child(2) > div.content3.bb > div > div.dispatch > p{
	margin: 0 !important;
	width: 88vw;
}
/* TEXTOS DE LOS SHIPMENTS */
	/* ARREGLANDO ESPACIO DE CONTENIDO */
	.header {
    margin-top: 8%;
}
	.content {
    width: 93%;
	height:885px;
	margin-top:17% !important;
}
	.content1 h2 {
	font-size:22px;
}
	.content2-header1 {
	padding:0.7em;
    width: 80%;
	margin-left: 3%;
}
	.content2-header1 p {
    font-size: 19px;
}
	.content2-header1 span {
    font-size: 16px;
}
	.confirm {
	width:100%;
}
	.process {
	width:100%;
	margin: 22% 0 0 5%;
}
	.quality{
	width:100%;
	margin: 22% 0 0 5%;
}
	.dispatch{
	width:100%;
	margin: 22% 0 0 5%;
}
	.delivery{
	width:100%;
	margin: 22% 0 0 5%;
}
	.imgcircle {
    height: 70px;
    width: 70px;
	margin-left: 35%;
}
	.imgcircle img {
    height: 30px;
    top: 27%;
    left: 28%;
}
	span.line {
    width: 6px;
    left: 43.5%;
    height: 58px;
	top:152%;
}
	.content3 p {
    font-size: 15px;
    margin: -12% 0 0 -72%;
}
	.shipment {
    margin-left: 16%;
}
	.footer {
	padding:1%;
}
	.footer p {
	font-size:17px;
}
}



@media (max-width: 320px){
	.header {
    margin-top: 10%;
}
	.content{
	margin-top: 10%;
}
	.content1 {
    padding: 1em;
}
	.header h1{
	font-size:31px;
}
	.content {
    height: 830px;
}
	.content1 h2 {
    font-size: 17px;
}
	.content2-header1 span {
    font-size: 15px;
}
	.content3 p {
    margin: -16% 0 0 -79%;
}
	.shipment {
    margin-left: 19%;
}
	span.line {
    top: 115%;
    left: 46%;
}
	.footer {
	margin-top: 1%;
}
	.footer p {
    font-size: 14px;
}
}
