.container{
      margin-top: 10%;
}

@media (max-width:992px)and (min-width:768px) {
body > div.container{
max-width: 920px !important;
}
}

@media (max-width:522px) {
body > div.container{
  display: grid;
}

body > footer{
  display: flex;
  flex-wrap: wrap;
}
}
