
body > div.container{
  width: 100%;
}
.centered {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5vw;
    text-align: center;
    width: 95%;
        text-shadow: 3px 4px 9px grey;
    font-weight: 600;
        opacity: 0.9;
}

body > div > div:nth-child(2),
body > div > div:nth-child(3),
body > div > div:nth-child(4){
  border-bottom: 1px solid #e4e4e4;
      margin-top: 2%;


}
body > div > div:nth-child(4) > div > div{
  display: flex;
    flex-wrap: wrap;
    /* align-items: unset; */
    justify-content: space-around;
}
@media  (max-width:1201px) and (min-width:768px){
.container{
width:100%
}
body > div > div:nth-child(2) > div > div{
  display: flex;
  justify-content: center;
}
.centered {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 7vw;
    text-align: center;
    width: 72%;
        text-shadow: 3px 4px 9px grey;
    font-weight: 600;
}
}
@media (max-width:768px) {

  .container {
      max-width: 100%;
  }
  body > div > div:nth-child(1) > div > div{
    font-size: 5.5vw;
  }
}

@media (max-width:615px) {

  .container {
      max-width: 100%;

  }
  body > div > div:nth-child(1) > div > div{
    font-size: 5.5vw;
  }
  body > div > div:nth-child(2),
  body > div > div:nth-child(3),
  body > div > div:nth-child(4){
    margin-top: 2%;
    border-bottom: 1px solid #e4e4e4;
        margin-top: 2%;

  }
  body > footer{
margin-top: 5%;
  }
}
@media (max-width:576px) {
  body > div > div:nth-child(1) > div > div{
    width: 90%;
    font-size: 28px;
  }
  body > footer{
    display: flex;
      flex-wrap: wrap;
    justify-content: center;
  }
  body > footer > p:nth-child(2){

    display: flex;
    justify-content: center;
    align-content: center;
  }
  body > div > div:nth-child(1) > div{
    margin-top: 17%;
  }

}
@media (max-width:320px) {
  .container{
    margin-top: 8%;
  }
  body > div > div:nth-child(1) > div > div{
    width: 87%;
    font-size: 28px;
  }

  body > div > div:nth-child(2),
  body > div > div:nth-child(3),
  body > div > div:nth-child(4){
    margin-top: 2%;
    border-bottom: 1px solid #e4e4e4;

  }
  body > footer{
    display: flex;
      flex-wrap: wrap;
    justify-content: center;
  }
  body > footer > p:nth-child(2){

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  body > div > div:nth-child(1) > div{
    margin-top: 31%;
  }

}

@media (max-width:300px){
  .container{
    margin-top: 11%;
  }
  body > div > div:nth-child(1) > div > div{
      width: 85%;
    font-size: 28px;
  }
  body > div > div:nth-child(1) > div{
    margin-top: 46%;
  }
}

@media (max-width:276px){
  body > div > div:nth-child(1) > div > div{
      width: 85%;
    font-size:18px;
  }
}
@media (max-width:228px){
  body > div > div:nth-child(1) > div > div{
      width: 82%;
    font-size:18px;
  }
  body > div > div:nth-child(1) > div{
    margin-top: 60%;
  }
  body > div > div:nth-child(2),
  body > div > div:nth-child(3),
  body > div > div:nth-child(4){
  }
}
