
body > div > nav{
     background: llinear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(246, 246, 246) 47%, rgb(237, 237, 237) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;


box-shadow: 0px 3px 5px grey
}
body > nav{
  background: llinear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
 background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(246, 246, 246) 47%, rgb(237, 237, 237) 100%);
 background-position-x: initial;
 background-position-y: initial;
 background-size: initial;
 background-repeat-x: initial;
 background-repeat-y: initial;
 background-attachment: initial;
 background-origin: initial;
 background-clip: initial;
 background-color: initial;
 box-shadow: 0px 3px 5px grey;
}

/* ACOMODANDO LOGO */

body > nav > a{
  padding-bottom:1.3125rem !important;
}
/*  /  ACOMODANDO LOGO */
