body > div > div{
  margin-top: 10%;
}
body > div > div > div > h2
{
  text-align: center;
}
body > div > div > div > p{
  text-align: center;
}
body > div{
  box-shadow: -8px 3px 29px grey;
      border-radius: 16px;}
