body > div > div{
  margin-top: 10%;
}
body > div > div > div > h2
{
  text-align: center;
}
body > div > div > div > p{
  text-align: center;
}

@media (max-width:300px) {
 button.navbar-toggler{
margin-left: -11%;
 }
}
